/* ---------- Root Variables ---------- */
:root {
  --blue: #004aad;
  --beige: #f4f1e7;
  --light-blue: #8bbdff; /* tredje farve */
}

/* ---------- HTML, body and rest styling ---------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  background-color: var(--beige);
  color: var(--blue);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* ---------- Typography ---------- */

h1 {
  font-size: 4em;
  line-height: 1.1;
  color: var(--blue);
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  color: var(--blue);
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
  color: var(--blue);
}

p {
  font-size: 1em;
  color: var(--blue);
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: var(--blue);
}

a:hover {
  color: var(--blue);
}

/* ---------- Button-link Styling ---------- */

.button-link {
  color: var(--beige);
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
  padding: 1em 1em;
  border-radius: 10px;
  background-color: var(--blue);
  transition: 0.5s;
}

.button-link:hover {
  background-color: var(--light-blue);
  color: var(--beige);
}

/* ---------- Navigation Styling ---------- */
nav {
  background-color: var(--blue);
  display: grid;
  position: fixed;
  text-align: center;
  padding: 1em 2em;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  width: 100%;
  justify-content: center;
  place-content: center;
}

/* Style the links inside the navigation bar */
nav a {
  display: inline-block;
  color: var(--beige);
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 8px;
  transition: 0.5s;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: var(--light-blue);
  color: var(--beige);
}

/* Add a color to the active/current link */
nav a.active {
  background-color: var(--light-blue);
  color: var(--beige);
}

/* ---------- Page Styling ---------- */
.page {
  animation: fadeIn 0.5s;
  padding: 105px 2em;
  max-width: 1500px;
  margin: 0 auto;
}

/* ---------- Animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ---------- grid container styling ---------- */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media (min-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ---------- Index styling ---------- */

.banner {
  text-align: center;
  height: 15em;
  position: relative;
}

.year {
  padding-top: 100px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 6em;
}

.by_alberte {
  padding-top: 30px;
  margin-top: 0;
  font-weight: bold;
  animation: jump 0.5s ease-in-out;
  animation-delay: 1s;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.subtitle {
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 30px;
}

.project-container {
  padding-top: 180px;
}

.project_1,
.project_2,
.project_3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 100px;
}

.text-box {
  text-align: center;
}

.number {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.project-title {
  margin: 0;
  padding: 0;
  font-size: 2em;
}
.descrip-box {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.project-description {
  font-size: 0.9em;
}

.pic {
  width: 30em;
  height: auto;
  margin-top: 30px;
}

.pic-box {
  display: flex;
  justify-content: end;
}

/* ---------- about styling ---------- */

.me {
  width: 20em;
  height: auto;
}

.section-title {
  font-size: 2em;
  padding-top: 0;
  margin-top: 0;
}

.grid-container-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding-top: 150px;
}

.image-container-left {
  display: flex;
  justify-content: left;
}

.image-container-right {
  display: flex;
  justify-content: right;
}

.pic2 {
  width: 20em;
  height: auto;
}

.sum1 {
  margin: 0;
  padding-top: 10px;
  font-size: large;
  font-weight: bold;
}

.sum2 {
  font-size: 0.8rem;
  font-weight: bold;
}

.sum3 {
  text-align: left;
}

.other-experience {
  justify-content: center;
}

.section-title-unique {
  font-size: 2em;
  text-align: center;
  padding-top: 150px;
}

.left {
  background-color: var(--blue);
  margin: 0;
  padding: 0;
  color: var(--beige);
  text-align: right;
  list-style: none;
  padding-right: 15px;
  padding-bottom: 15px;
}

.right {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skill1 {
  color: var(--beige);
  font-weight: bold;
}

.skill2 {
  font-weight: bold;
}

.mix {
  width: 80%;
  max-width: 850px;
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
}

/* ---------- contact styling ---------- */
.grid-container-contact {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 20em;
}

.content-box {
  padding-top: 0;
  margin-top: 0;
}

.image-box {
  background-image: url("/assets/phone.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.special-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding-top: 150px;
}

.socials-title {
  text-align: center;
}

.social-icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-content: center;
  max-width: 30em;
  margin: 0 auto;
}

.message {
  text-align: center;
  max-width: 30em;
}

/* ---------- Footer styling ---------- */

footer {
  background-color: var(--blue);
  color: var(--beige);
  padding: 2em;
  text-align: center;
}

footer p {
  color: var(--beige);
}

footer li {
  color: var(--beige);
  list-style: none;
}

footer a {
  color: var(--beige);
}

/*ændrer dette */
footer a:hover {
  color: var(--beige);
}
