/* ---------- Root Variables ---------- */
:root {
  --blue: #004aad;
  --beige: #f4f1e7;
  --light-blue: #8bbdff; /* tredje farve */
}

/* ---------- HTML, body and rest styling ---------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  background-color: var(--beige);
  color: var(--blue);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* ---------- Typography ---------- */

h1 {
  font-size: 4em;
  line-height: 1.1;
  color: var(--blue);
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  color: var(--blue);
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
  color: var(--blue);
}

p {
  font-size: 1em;
  color: var(--blue);
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: var(--blue);
}

a:hover {
  color: var(--blue);
}

/* ---------- Button Styling ---------- */

button {
  color: var(--beige);
  font-weight: bold;
  cursor: pointer;
  padding: 1em 2em;
  border: 2px solid var(--blue);
  border-radius: 10px;
  background-color: var(--blue);
  transition: 0.5s;
}

button:hover {
  background-color: var(--blue);
  color: var(--beige);
}

/* ---------- Navigation Styling ---------- */
nav {
  background-color: var(--blue);
  display: grid;
  position: fixed;
  text-align: center;
  padding: 1em 2em;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  width: 100%;
  justify-content: center;
  place-content: center;
}

/* Style the links inside the navigation bar */
nav a {
  display: inline-block;
  color: var(--beige);
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 8px;
  transition: 0.5s;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: var(--beige);
  color: var(--blue);
}

/* Add a color to the active/current link */
nav a.active {
  border: 2px solid var(--beige);
  color: var(--light-blue);
}

/* ---------- Page Styling ---------- */
.page {
  animation: fadeIn 0.5s;
  padding: 105px 2em;
}

/* ---------- Animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ---------- grid container styling ---------- */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media (min-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ---------- Index styling ---------- */

.banner {
  text-align: center;
  height: 15em;
}

.subtitle {
  text-align: center;
}

.project_1,
.project_2,
.project_3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  justify-content: space-between;
  padding-bottom: 50px;
}

.text-box {
  text-align: center;
}

.number {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.project-title {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.project-description {
  font-size: 0.8em;
}

.pic {
  width: 20em;
  height: auto;
}

/* ---------- about styling ---------- */
.section-title {
  text-align: center;
  font-size: 2em;
  padding-top: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.sum1 {
  margin: 0;
  padding-top: 10px;
  font-size: large;
  font-weight: bold;
}

.sum2 {
  font-size: 0.8rem;
  font-weight: bold;
}

.sum3 {
  text-align: left;
}

.other-experience {
  justify-content: center;
}

.left {
  background-color: var(--blue);
  margin: 0;
  padding: 0;
  color: var(--beige);
  text-align: right;
  list-style: none;
  padding-right: 15px;
  padding-bottom: 15px;
}

.right {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skill1 {
  color: var(--beige);
  font-weight: bold;
}

.skill2 {
  font-weight: bold;
}

.mix {
  width: 80%;
  max-width: 850px;
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
}

/* ---------- Footer styling ---------- */

footer {
  background-color: var(--blue);
  color: var(--beige);
  padding: 2em;
  text-align: center;
}

footer p {
  color: var(--beige);
}

footer li {
  color: var(--beige);
  list-style: none;
}

footer a {
  color: var(--beige);
}

/*ændrer dette */
footer a:hover {
  color: var(--beige);
}
